{% extends 'base.html.twig' %}

{% block title %}Calculator!{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 100%; font: 18px/1.5 sans-serif; }
    .wrapper form { background: #F5F5F5; padding: 1em; }
</style>

<div class="wrapper">
    <h1>Calculator</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% if result is not null %}
        Result {{ result }}
    {% endif %}
    {{ form_end(form) }}
</div>
{% endblock %}
